@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&family=Righteous&family=Roboto:wght@100;400&family=Sarala:wght@400;700&display=swap');

body {
    font-size: 100%;
    background: #228b22;
    background-repeat: no-repeat;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 28px;
    gap: 30px;
}
.cabecalho__img {
    height: 120px;
    
}
.cabecalho-menu {
    display: flex;
    gap:80px;
    
    }
.cabecalho-menu-item {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}
.cabecalho-menu-item:hover{
    background-color: rgba(2, 31, 6, 0.5);
}
.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
display: flex;
flex-direction:column;
gap: 35px;

}

.conteudo_img{
    height: 700px;
    padding: 35px;
}

.conteudo__img{
    height: 700px;
    width: 700px;
    display: block;
    margin: 0 auto;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    }
.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
     text-align: center;
    margin-left: 50px;
    }
    .rodape{
        padding: 45px;
        border-top: 0.4px Solid  #FFF2E7;
    }

    .rodape-imagem{
        height: 100px;
        display: block;
        margin: 0 auto;
    }

